/* reset css */
* {
  outline: none;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  word-break: break-all;
  vertical-align: baseline;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}
article,
picture,
section,
header,
footer,
nav,
wrapper,
pagination,
comment,
blockquote,
aside {
  display: block;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Microsoft YaHei, Arial, PT Serif, sans-serif;
  color: #3B3B3C;
  font-size: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-weight: normal;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
p {
  padding-bottom: 0.5em;
}
body {
  background-color: #fff;
  min-height: 100%;
}
a {
  text-decoration: none;
}
a:active {
  outline: none;
}
img {
  width: auto;
  height: auto;
  border: none;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.5em;
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr {
  cursor: default;
}
b,
strong {
  font-weight: bold;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="text"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="email"],
textarea {
  border-radius: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
.red {
  color: #EE040D;
}
.black {
  color: #3B3B3C;
}
.d_black {
  color: #10181F;
}
.azure {
  color: #01adff;
}
.blue {
  color: #376edd;
}
.l_blue {
  color: #EEF3F7;
}
.blue_black {
  color: #273647;
}
.l_black {
  color: #555;
}
.green {
  color: #43be36;
}
.gray {
  color: #838383;
}
.l_gray {
  color: #C9CDCD;
}
.yellow {
  color: #ffa800;
}
.white {
  color: #fff;
}
._btn {
  font-size: .75rem;
  display: inline-block;
  padding: 0 2em;
  color: #f8f8f8;
  line-height: 2.8em;
  background: #eb4b3f;
  border-radius: 4px;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -o-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
._btn:hover {
  color: #fff;
  box-shadow: 0 1px 2px rgba(200, 50, 0, 0.3);
  background: #EE040D;
}
.btn {
  font-size: .75rem;
  display: inline-block;
  padding: 0 2em;
  color: #f8f8f8;
  line-height: 2.8em;
  background: #eb4b3f;
  border-radius: 4px;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -o-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.btn:hover {
  color: #fff;
  box-shadow: 0 1px 2px rgba(200, 50, 0, 0.3);
  background: #EE040D;
}
.btn.round {
  border-radius: 0.7em;
}
.btn.framed {
  background: transparent;
  border: 1px solid #eb4b3f;
  color: #eb4b3f;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.clear {
  overflow: hidden;
  zoom: 1;
}
.center {
  text-align: center;
}
.field {
  margin-bottom: .8em;
}
ul.grid {
  overflow: hidden;
  zoom: 1;
}
ul.grid > li {
  float: left;
}
ul.grid.grid-2 > li {
  width: 50%;
}
ul.grid.grid-3 > li {
  width: 33.3%;
}
ul.grid.grid-4 > li {
  width: 25%;
}
.table {
  display: table;
  width: 100%;
}
.table .row {
  display: table-row;
}
.table .cell {
  vertical-align: middle;
  display: table-cell;
}
.truncate {
  max-width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.truncate :after {
  background-color: #fff;
  width: 1em;
  content: '';
}
body {
  min-width: 1100px;
  overflow: auto;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
p {
  padding: 0;
}
main {
  min-height: 900px;
}
.title {
  font-weight: 400;
  line-height: 3.3rem;
  font-size: 36px;
}
.title .large {
  font-weight: 500;
  font-size: 46px;
}
.desc {
  color: #999;
  font-size: 16px;
  line-height: 1.6rem;
}
.major {
  color: #999;
  font-size: 16px;
  line-height: 1.6rem;
  color: #3B3B3C;
  margin-bottom: 3rem;
}
.eager {
  font-size: 22px;
}
.spacer {
  font-weight: 300;
  letter-spacing: 5px;
}
.divider {
  margin-bottom: 1.5rem;
  width: 4em;
  border-bottom: 1px solid #C9CDCD;
}
.divider.auto {
  margin-left: auto;
  margin-right: auto;
}
.br {
  margin-bottom: 1.8rem;
  width: 2.3em;
  border-bottom: 2px solid #01adff;
}
.br.auto {
  margin-left: auto;
  margin-right: auto;
}
.br.green {
  border-color: #43be36;
}
.br.red {
  border-color: #eb4b3f;
}
.br.l_blue {
  border-color: #EEF3F7;
}
.br.azure {
  border-color: #01adff;
}
.br.d_black {
  border-color: #10181F;
}
.br.white {
  border-color: #fff;
}
.br.yellow {
  border-color: #ffa800;
}
a {
  color: #3B3B3C;
  -webkit-transition: color .3s, background .3s;
  -o-transition: color .3s, background .3s;
  transition: color .3s, background .3s;
}
a:hover {
  color: #eb4b3f;
}
main > section {
  padding: 3em 0 3em;
}
figure {
  overflow: hidden;
  zoom: 1;
}
figure img {
  float: left;
}
._screen {
  background-color: #10181F;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  height: 475px;
  /*padding-top: 5rem;*/
  /*padding-bottom: 2rem;*/
}
._screen > .container {
  height: 100%;
}
._screen > .container > .table {
  height: 100%;
}
._screen .title {
  font-weight: 300;
  font-size: 36px;
  margin-top: 1.2rem;
  line-height: 60px;
  margin-bottom: .2em;
}
._screen .title > .hd {
  font-size: 39px;
}
._screen .desc {
  margin-bottom: 3rem;
  letter-spacing: 2px;
  font-size: 10px;
  color: #fff;
}
._screen .desc.hd {
  font-size: 19px;
}
._screen img.arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 auto;
}
header.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 5em;
  height: 5em;
  background: transparent;
}
header.main nav {
  overflow: hidden;
  zoom: 1;
  height: 100%;
}
header.main nav a {
  color: #C9CDCD;
}
header.main nav a.active {
  color: #eb4b3f;
}
header.main nav a:hover {
  color: #eb4b3f;
}
header.main nav .logo {
  position: relative;
  float: left;
  height: 100%;
}
header.main nav .logo img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 12em;
  margin: auto;
}
header.main nav > ul {
  float: right;
  font-size: 16px;
  font-weight: 500;
}
header.main nav > ul li {
  display: inline-block;
  padding: 0 2em;
}
header.main nav > ul li a {
  display: block;
  line-height: 2.2em;
}
header.main nav > ul li a.btn {
  border-color: #C9CDCD;
  color: #C9CDCD;
}
header.main nav > ul li a.btn:hover {
  border-color: #eb4b3f;
  color: #eb4b3f;
}
footer {
  background: #121920;
  color: #fff;
  font-size: 16px;
}
footer .title {
  color: #fff;
}
footer a {
  color: #555;
}
footer > .section {
  padding: 2em 0;
}
footer .get-start {
  /*background-image: url('/image/get-start.png');*/
  /*background-repeat: repeat;*/
  /*background-position: bottom center;*/
  padding: 3em 0 5em;
}
footer .get-start .title {
  font-size: 1.4rem;
}
footer .get-start .btn {
  padding: 0 2em;
}
footer .desc {
  font-size: .65rem;
  color: #3B3B3C;
}
footer .links {
  overflow: hidden;
  zoom: 1;
}
footer .links .title {
  font-size: 16px;
}
footer .links .desc {
  font-size: 16px;
}
footer .links .left-section {
  float: left;
  width: 60%;
}
footer .links .right-section {
  overflow: hidden;
  zoom: 1;
  float: right;
}
footer .links ul {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 1rem;
  padding-left: 1.5em;
}
footer .links ul li {
  list-style-type: disc;
  float: left;
  width: 12em;
}
footer .input {
  position: relative;
}
footer .input input[type='email'] {
  width: 250px;
  line-height: 36px;
  height: 36px;
  font-size: 16px;
  padding: 0 16px;
  /*width: 100%;*/
  background: transparent;
  float: left;
  color: #fff;
  border: 1px solid #3B3B3C;
  /*border-radius: 2em;*/
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}
footer .input .input-btn {
  font-size: .75rem;
  display: inline-block;
  padding: 0 2em;
  color: #f8f8f8;
  line-height: 2.8em;
  background: #eb4b3f;
  border-radius: 4px;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -o-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  width: 80px;
  text-align: center;
  background: #3B3B3C;
  height: 100%;
  border-radius: 0;
  line-height: 36px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0;
  font-size: 14px;
}
footer .input .input-btn:hover {
  color: #fff;
  box-shadow: 0 1px 2px rgba(200, 50, 0, 0.3);
  background: #EE040D;
}
footer .input .input-btn:hover {
  background: #555;
}
footer .copyright {
  overflow: hidden;
  zoom: 1;
  min-height: 7.5em;
  border-top: 1px solid #3B3B3C;
  padding: 1em 0;
}
footer .copyright .desc {
  float: left;
  width: 60%;
  line-height: 6em;
}
footer .copyright figure {
  overflow: hidden;
  zoom: 1;
}
footer .copyright figure img {
  float: right;
  width: 16em;
}
body.home .screen {
  z-index: -100;
  height: 1200px;
  position: relative;
  padding: 0;
  background-color: #10181F;
  background-image: url('/image/home-bg.png');
  background-repeat: repeat;
  opacity: 0;
}
body.home .screen > .container {
  margin: auto;
  width: 100%;
  height: 16em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
body.home .screen .logo {
  margin-bottom: 1em;
}
body.home .screen .logo img {
  width: 5em;
  height: 5em;
  margin: 0 auto;
}
body.home .screen .title {
  color: #fff;
  line-height: 2.2rem;
}
body.home .screen .br {
  width: 1.8em;
  margin: 0 auto;
}
body.home .screen .desc {
  color: #555;
  font-size: .7rem;
  margin-bottom: 2em;
}
body.home .home-intro {
  padding: 0;
  height: 532px;
  position: relative;
  overflow: hidden;
}
body.home .home-intro > .container {
  height: 100%;
}
body.home .home-intro > .container > .table {
  height: 100%;
}
body.home .home-intro > .container > .table .cell {
  width: 50%;
}
body.home .home-intro .title {
  line-height: 2em;
}
body.home .home-intro-0 > .container {
  position: relative;
}
body.home .home-intro-0 .br {
  margin: 0 auto 1em;
}
body.home .home-intro-0 .title {
  padding-top: 40px;
}
body.home .home-intro-0 .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15em;
  background-image: url('/image/home0.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body.home .home-intro .figure {
  padding-left: 2em;
}
body.home .home-intro .figure > figure {
  width: 400px;
  /*min-height: 200px;*/
}
body.home .home-intro-1,
body.home .home-intro-3,
body.home .home-intro-5 {
  background: #EEF3F7;
}
body.home .home-intro-1 .figure,
body.home .home-intro-3 .figure,
body.home .home-intro-5 .figure {
  padding-left: 6em;
}
body.home .home-intro-1 img.sample,
body.home .home-intro-3 img.sample,
body.home .home-intro-5 img.sample {
  /*width: 18em;*/
}
body.home .home-intro-3 {
  color: #fff;
  background: #06111D;
}
body.home .home-intro-3 .figure {
  padding-left: 10em;
}
body.team main .screen {
  background-color: #10181F;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  height: 475px;
  /*padding-top: 5rem;*/
  /*padding-bottom: 2rem;*/
  background-image: url('/image/team-bg.png');
  background-size: cover;
}
body.team main .screen > .container {
  height: 100%;
}
body.team main .screen > .container > .table {
  height: 100%;
}
body.team main .screen .title {
  font-weight: 300;
  font-size: 36px;
  margin-top: 1.2rem;
  line-height: 60px;
  margin-bottom: .2em;
}
body.team main .screen .title > .hd {
  font-size: 39px;
}
body.team main .screen .desc {
  margin-bottom: 3rem;
  letter-spacing: 2px;
  font-size: 10px;
  color: #fff;
}
body.team main .screen .desc.hd {
  font-size: 19px;
}
body.team main .screen img.arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 auto;
}
body.team main .desc {
  padding-left: 5em;
  padding-right: 5em;
}
body.team main .culture {
  min-height: 61em;
  background-color: #EEF3F7;
}
body.team main .skill-tree {
  margin: 30px 0;
  position: relative;
  background-image: url('/image/skill-tree.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  text-align: left;
  overflow: hidden;
}
body.team main .skill-tree-block {
  display: table;
  width: 100%;
  color: #999;
  font-size: 14px;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(200, 200, 200, 0.3);
  padding: 0 30px;
}
body.team main .skill-tree-block .row {
  display: table-row;
}
body.team main .skill-tree-block .cell {
  vertical-align: middle;
  display: table-cell;
}
body.team main .skill-tree-block .text {
  vertical-align: middle;
  display: table-cell;
  position: relative;
}
body.team main .skill-tree-block .text:before {
  content: '';
  left: -15px;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  border-radius: 100%;
  background-color: #3B3B3C;
  position: absolute;
}
body.team main .skill-tree-block-0,
body.team main .skill-tree-block-2,
body.team main .skill-tree-block-4 {
  left: 580px;
}
body.team main .skill-tree-block-1,
body.team main .skill-tree-block-3,
body.team main .skill-tree-block-5 {
  left: 220px;
}
body.team main .skill-tree-block-0 {
  top: 0px;
}
body.team main .skill-tree-block-0 .text:before {
  background-color: #01adff;
}
body.team main .skill-tree-block-1 {
  top: 80px;
}
body.team main .skill-tree-block-1 .text:before {
  background-color: #43be36;
}
body.team main .skill-tree-block-2 {
  top: 155px;
}
body.team main .skill-tree-block-2 .text:before {
  background-color: #eb4b3f;
}
body.team main .skill-tree-block-3 {
  top: 235px;
}
body.team main .skill-tree-block-3 .text:before {
  background-color: #fb9126;
}
body.team main .skill-tree-block-4 {
  top: 310px;
}
body.team main .skill-tree-block-4 .text:before {
  background-color: #3fd4cd;
}
body.team main .skill-tree-block-5 {
  top: 390px;
}
body.team main .skill-tree-block-5 .text:before {
  background-color: #df49ab;
}
body.team main .logo {
  margin: 2em auto;
}
body.doc {
  background: #EFF3F7;
}
body.doc header.main {
  background: #10181F;
  box-shadow: 0 1px 1px #555;
}
body.doc main {
  overflow: hidden;
  zoom: 1;
}
body.doc main > aside {
  padding-top: 7em;
  float: left;
  width: 16em;
}
body.doc main > aside > .chapter {
  font-size: inherit;
}
body.doc main > aside > .chapter > .item {
  border-top: 1px solid #DAE0E3;
}
body.doc main > aside > .chapter > .item > a {
  background-image: url('/image/right-icon.png');
  background-repeat: no-repeat;
  background-position: 94% 50%;
  display: block;
  padding: .6em 1em;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
body.doc main > aside > .chapter > .item > .section {
  display: none;
  font-size: .85rem;
  padding: 1em 0;
}
body.doc main > aside > .chapter > .item > .section > .item {
  padding: .2em 1em;
  color: #838383;
}
body.doc main > aside > .chapter > .item > .section > .item.active > a {
  color: #EE040D;
}
body.doc main > aside > .chapter > .item.active {
  border-color: transparent;
}
body.doc main > aside > .chapter > .item.active > a {
  background-color: #EE040D;
  background-image: url('/image/down-icon.png');
  color: #fff;
}
body.doc main > aside > .chapter > .item.active > .section {
  display: block;
}
body.doc main > aside > .chapter:last-child {
  border-bottom: 1px solid #DAE0E3;
}
body.doc main > section {
  overflow: hidden;
  zoom: 1;
  min-height: 65em;
  padding: 4em;
  padding-top: 7em;
  background: #fff;
  border: 1px solid #f8f8f8;
}
body.doc main > section .title {
  font-size: 29px;
}
body.doc main > section p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 26px;
}
body.doc main > section img {
  margin: 85px 0;
}
body.doc main > section p + img {
  margin-top: 59px;
}
body.contact main .screen {
  background-color: #10181F;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  height: 475px;
  /*padding-top: 5rem;*/
  /*padding-bottom: 2rem;*/
  background-image: url(/image/contact-bg.png);
  background-size: cover;
}
body.contact main .screen > .container {
  height: 100%;
}
body.contact main .screen > .container > .table {
  height: 100%;
}
body.contact main .screen .title {
  font-weight: 300;
  font-size: 36px;
  margin-top: 1.2rem;
  line-height: 60px;
  margin-bottom: .2em;
}
body.contact main .screen .title > .hd {
  font-size: 39px;
}
body.contact main .screen .desc {
  margin-bottom: 3rem;
  letter-spacing: 2px;
  font-size: 10px;
  color: #fff;
}
body.contact main .screen .desc.hd {
  font-size: 19px;
}
body.contact main .screen img.arrow {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 auto;
}
body.contact main .screen .title {
  margin-top: 3.5rem;
}
body.contact main .screen .desc {
  font-size: .8rem;
}
body.contact main .icon {
  width: 60px;
}
body.contact main .map {
  margin: 2.5em auto;
  width: 100%;
  height: 418px;
  background-color: #EEF3F7;
}
